.main_post {
    background-image: url('../../assets/images/job-interview.jpg');
    background-position: center center;
    background-size: 100%;
    object-fit: contain;
    padding: 8rem 0 8rem 0;
}